h1 {
    text-align: center;
    color: black;
}
img{
    width: 20%;
    height: auto;
    border-radius: 30%;
    float: left;
}
body {
    background-color: burlywood;
    margin: 100px;
    margin-top: -30px;
    padding: 50px;
    border: 50px;
    font-size: 17pt;
    font-family: tahoma;
}