h1 {
    text-align: center;
    color: black;
}
img{
    width: 20%;
    height: auto;
    
}
body {
    background-color: plum;
    margin: 200px;
    margin-top: -30px;
    padding: 50px;
    border: 50px;
    font-size: 17pt;
    font-family: tahoma;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
.images {
    color: darkblue;
    font-weight: 200;
}
#profile {
    margin-right: 300px;
    margin-left: 300px;
    padding-left: 100px;
    padding-left: 100px;
    border-right: 100px;
    border-left: 100x;
}
.topnav {
    background-color: transparent;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: magenta;
    color: white;
  }
.intro{
  margin: 200px;
  border: 100px;
  padding:100px;
}
