h1 {
    text-align: center;
    color: black;
}
img{
    width: 20%;
    height: auto;
    
}
body {
    background-color: plum;
    margin: 200px;
    margin-top: -30px;
    padding: 50px;
    border: 50px;
    font-size: 17pt;
    font-family: tahoma;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
  .column {
    flex: 50%;
    padding: 0 4px;
  }
  
  .column img {
    margin-top: 8px;
    vertical-align: middle;
  }
.images {
    color: darkblue;
    font-weight: 200;
}
#profile {
    margin-right: 300px;
    margin-left: 300px;
    padding-left: 100px;
    padding-left: 100px;
    border-right: 100px;
    border-left: 100x;
}