.name {
    color: blueviolet;
}
#intro {
    text-align: center;
    font-size: xx-large;
    color: burlywood;
}
button {
    width: 150px;
    height: 50px;
    border:none;
    border:solid 2px black;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 16pt;
}

button:hover {
    background: teal;
    color:white; 
}