.name {
    color: magenta;
}
#intro {
    text-align: center;
    font-size: xx-large;
    color: white;
}
button {
    width: 200px;
    height: 50px;
    border:none;
    border:solid 2px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 16pt;
    color: white;
    display: grid;
    padding: 10px;
    margin: auto;
}

button:hover {
    background: teal;
    color:white; 
}
