.name {
    color: magenta;
}
#intro {
    text-align: center;
    font-size: 36pt;
    color: white;
    font-weight: 20;
    
}
button {
    width: 200px;
    height: 50px;
    border:none;
    border:solid 2px white;
    border-radius: 5px;
    background: rgba(255, 255, 255,0);
    font-size: 16pt;
    color: white;
    display: grid;
    padding: 10px;
    margin: auto;
}

button:hover {
    background: teal;
    color:white; 
}

.topnav {
    background-color: transparent;
    overflow: hidden;
    margin-top: 659px;
  }
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  .topnav a.active {
    background-color: magenta;
    color: white;